body {
    margin: 0;
    font-size: 100%;
  }

  #content {
    position: fixed;
    margin-left:25%;
    width: 75%;
    height: 80%;
    padding: 0%;
    /*padding:1px 16px;*/
    font-family: 'Open Sans', sans-serif;
  }

  #content .title{
    text-align: center;
  }

  .frame{
  margin: 1em;
  }

  .item-1{ grid-area: left}
  .item-2{ grid-area: right}
  .grid-container {
    display: grid;
    grid-template-areas: 'left right';
  }

  .grid-container li {
    font-size: 1.2em;
  }

.button-intro p{
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

  @media only screen and (min-width: 1000px){
    .frame .txt-box{
      width: 75%;
    }
  }
 
  
  .txt-btn{
    color: black;
    padding: 12px;
    border: none;
    background-color: rgb(204, 213, 216);
    font-size: 1em;
  }

  .demoHolder{
    margin: 0 auto;
    max-width: 75%;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #side-bar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #363D3F;
  }

  #side-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 50% 0% 0%;
    position: relative;
    /*background-color: #363D3F;*/
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
  li button {
    display: block;
    color: #AFBFBF;
    background-color: #363D3F;
    padding: 8px 16px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border: none;
    width: 100%;
  }

  li button.active {
    background-color: #4CAF50;
    color: white;
  }

  li button:hover {
    /*background-color: #555;*/
    color: white;
  }

  #bot-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #bot-nav p {
    position: fixed;
    bottom: 2em;
    left: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1em;
  }

  #bot-nav button {
    /*position: fixed;
    bottom: 0;*/
    position: fixed;
    bottom: 0;
    height: 1em;
    width: 37.5%;
    color: black;
    border: none;
    background-color: rgb(79, 89, 92);
    font-size: 3em;
  }

  #bot-nav button:hover {
    background-color: rgb(115, 129, 133);
  }

#a-right{
margin-left: 37.5%;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: all .6s ease-out;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(10px);
}

.some-fade-enter-active, .some-fade-leave-active {
  transition: all .6s ease-out;
}
.some-fade-enter, .some-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(20px);
}